  <div class="fixed w-full z-30 top-0 start-0 transition-all duration-300 px-32"
    >
    <nav class="bg-[#6DD3FF]/10 backdrop-blur-md rounded-xl mt-4 py-1 md:py-1">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <img src="/assets/logo.png" alt="logo" class="w-[140px] md:w-[180px]" alt="">
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button type="button" class="hidden md:block rounded-lg text-white bg-[#FF8000] px-2 py-1 hover:bg-black">View Courses</button>
          <button data-collapse-toggle="navbar-sticky" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden"
            aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
            <li (click)="activeItem = 'home'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'home'}">
              <a href="#home" class="block py-2 px-3 text-white rounded-sm md:bg-transparent md:p-0"
                aria-current="page">Home</a>
            </li>
            <li (click)="activeItem = 'about'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'about'}">
              <a href="#about"
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0">About</a>
            </li>
            <li (click)="activeItem = 'mission'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'mission'}">
              <a href="#mission"
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0">Our
                Mission</a>
            </li>
            <li (click)="activeItem = 'values'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'values'}">
              <a href="#values"
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0">Our
                Values</a>
            </li>
            <li (click)="activeItem = 'whyus'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'whyus'}">
              <a href="#whyus"
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0">FAQ's</a>
            </li>
            <li (click)="activeItem = 'contact'" [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'contact'}">
              <a href="#contact"
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0">Contact</a>
            </li>
            <li routerLink="/course"
              [ngClass]="{'border-b-4 border-[#182C3A]': activeItem === 'expertise'}">
              <p
                class="block py-2 px-3 text-white rounded-sm md:hover:bg-transparent md:hover:text-[#FF8000] md:p-0 cursor-pointer">Courses</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<router-outlet />